* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
 
body {
    background-color: #fafafa !important;
}

li {
    list-style-type: none;
    text-decoration: none;
}
.header {
    padding: 20px;
    text-align: center;
    background-color: #ffffff !important;
    z-index: 2;
}

.header-sticky {
    position: fixed;
    width: 100%;
    top: 0;
}
.burger_nav_bar {
    display: none;
}


@media only screen and (max-width: 600px) {
    .nav_bar {
        display: none;
    }
    .nav_bar_toggle {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: fit-content;
        margin: 0;
        padding-top: 80px;
        padding-bottom: 20px;
        list-style: none;
        background-color: white;
        z-index: 1;
      
    }
    .nav_toggle {
        justify-content: center !important;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: top;
        
    }
    .nav__item_toggle a {
        font-size: 160%;
        display: block;
        padding: 20px; 
        letter-spacing: 1px;
        line-height: 1em;
        color: #777777;
        }
    .nav__item_toggle a:hover {
        color: black;
        cursor: pointer;
        text-decoration: none;
        }
    .nav_container .nav_collapse {
        align-items: flex-start;
    }    
    .nav_container .nav {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    .nav_container .navigation {
        flex-direction: column !important;
      }
    .logo {
        display: block;
        z-index: 2;
        position: sticky;
    }  

    .burger_nav_bar {
        display: block;
        top: 5px;
        right: 30px;
        width: 40px;
        height: 60px;
        background-color: transparent;
        z-index: 2;
        position: fixed;
    }
    .burger_lines,
    .burger_lines::after,
    .burger_lines::before {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: black;
        display: block;
        top: 50%;
        transition-duration: .25s;
    }  
   
    .burger_lines::after {
        content: "";
        top: -12px;
    }
    .burger_lines::before {
        content: "";
        top: 12px;
    }
    .burger_cross {
        transform: rotate(45deg);
        transition-duration: .25s;
        width: 100%;
        height: 3px;
        background-color: black;
        display: block;
      }
    .burger_cross::before {
        top: 0;
        transform: rotate(0);
        
      }
    .burger_cross::after {
        top: 0;
        transform: rotate(90deg);    
      }   
    .consistent_container {
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        display: block;
      }
    .consistent_container .menugation {
        flex-direction: column !important;
      }
    #slash {
        display: none;
    } 
    .collage_coll {
        display: none;
    } 
    .menu_item_ms {
        padding: 5px;
        letter-spacing: 2px;
    }

    .col-sm-12{
        display: inline-flex;
    }

    .btn {
        width: 50% !important;
        margin: 20px auto !important;
    }
    

}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .header .row {
        flex-wrap: nowrap;
    }
   
    .btn {
        width: 50% !important;
        margin: 20px auto !important;
    }

}

.nav {
    justify-content: space-between;
    display: flex;
}

.nav__item {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;   
    
}
.nav__item a {
    color: #777777;
    
}
.nav__item a:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.backs {
    position: relative;
    display: block;
    
}

.back {
    margin-bottom: 40px;
    background: url(../White/img/blog/bg.jpg) no-repeat 100%;
    background-size: cover;
    height: 300px;
    
    
}
.back_h1 {
    background-color: black;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10%;
    text-align: center;
}

.back_p {
   
      text-align: left;
      display: inline-block;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 2px;
      margin-top: 10px;
  }
  .collage_images {
      padding-left: 20px;
      padding-right: 20px;
      
  }
.images__item {
    width: 100%;
    
}
.link {
    margin-bottom: 20px;
}
.posts:hover, .post:hover {
    cursor: pointer;
    transition: auto 0.5s ease-out;
}
.post {
    text-align: left;
    padding: 20px;
    background: white;
    margin-bottom: 20px;
    position: sticky;
    display: block;
}


.post_clone{
    display: block;
  
    text-align: left;
    padding: 20px;
    background: black;
    color: #b3afaf;
    opacity: 0.8;
    margin-bottom: 20px;
}
.ost {
    text-align: left;
    padding: 20px;
    background: white;
    margin-bottom: 20px;
    position: sticky;
    display: block;
}
.news {
	position	: relative;
    width		: 100%; /* for IE 6 */
    display: none;
}
.hide {
    display: block;
    position	: relative;
    width		: 100%; /* for IE 6 */
}

.fact{
    text-align: left;
    padding: 20px;
    background: black;
    color: #b3afaf;
    opacity: 0.8;
    margin-bottom: 20px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 2;
}


#bold {
    font-size: 12px;
    color: #b3afaf;
}
.likes {
    color: #777777;
    font-size: 12px;
    
}
form {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
  }
  input, button {
    border: none;
    outline: none;
    background: transparent;
  }
  input {
    width: 100%;
    height: 42px;
    padding-left: 20px;
  }
  button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #a5a4a4;
  }
  button:before {
    font-size: 16px;
    
  }

.bed_head {
    background-color: #ebebeb;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    position: relative;
    
}
.bed_head::after {
    position: absolute;
    content: ''; 
    left: 46%; 
    top: 90%;
    border: 15px solid transparent; 
    border-top: 15px solid #ebebeb;
    
}
.recent_posts, .instagram, .search, .popular_tags {
    margin-bottom: 40px;
}

.recent_posts .container {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tab td {
    padding: 10px;
    
}
.tab p {
    margin-bottom: 0;
}
#tab_text {
    font-size: 14px;
    
}
#tab_p {
    color: #a5a4a4;
    font-size: 12px;
    margin-top: 5px;
    
}
.tags {
    background-color: white;
    padding: 20px;
}
.tag {
    text-align: center;
    padding: 0 15px;
    border: 1px solid #9c9c9c;
    color: #9c9c9c;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 25px;
}
.tag:hover {
    background-color: black;
    color: white;
}
.insta {
    background: white;
    padding: 20px;
}

.insta_img {
    width: 100%;
    padding: 3px;
}
.btn {
    text-transform: uppercase;
    font-size: 14px;
    width: 20%;
    margin: 20px 220px auto;
    margin-bottom: 70px;
  
}
.footer {
    background-color: #ffffff;
    border-top: 2px solid #e4e5e7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding-bottom: 70px;
}
.footer__logo {
    margin: 70px auto;
    margin-bottom: 40px;
    text-align: center;
    
}
.socials {
    border-top: 1px solid #a5a4a4;
    border-bottom: 1px solid #a5a4a4;
    
    
}
.socials__item {
    font-family: fontawesome;
    font-size: 18px;
    margin: 20px;
    
}

.socials {
    color: #a5a4a4;
    width: 100%;
}
.socials__item a {
    color: #777777;
}

.socials a:hover {
    color: black;
    text-decoration: none;
}

.fa-facebook-f:before {
    content: "\f39e";
}
.fa-google-plus-g:before{
    content: "\f0d5";
}

.fa-twitter:before {
    content: "\f099";
}
.fa-linkedin-in:before {
    content: "\f0e1";
}
.fa-pinterest-p:before {
    content: "\f231";
}
.fa-instagram:before {
    content: "\f16d";
}
.footer__lisence{
    color: #777777;
    font-size: 16px;
    text-align: center;
    margin: 20px;
}
